# ASSIGNMENT 01:
##### Print Your Name with your Father name and Date of birth using suitable escape sequence charactor

In [2]:
print("my_name : Asad \nFather_name : Ashfaq \nDOB : 24-06-2000")

my_name : Asad
Father_name : Ashfaq
DOB : 24-06-2000

#### Write your small bio using variables and print it using print function

In [3]:
my_name = "Asad"
Father_name = "Ashfaq" 
DOB = "24-06-2000"
print(f"My name is {my_name}, my father name is {Father_name}, my date of birth is {DOB}")

My name is Asad, my father name is Ashfaq, my date of birth is 24-06-2000

#### Write a program in which use all the operators we can use in Python

In [5]:
x = 2 + 2
y = 4 - 2
z = 3 * 5
i = int(10/5)
m = 10%50
t = 2**3
n = 6//2

print(x+y, y, z, i, m, t, n)

6 2 15 2 10 8 3

#### Completes the following steps of small task:
- Mention Marks of English , Islamiat and Maths out of 100 in 3 different variables
- Mention Variable of Total Marks and assign 300 to it
- Calculate Percentage

In [6]:
English = 80
Math = 85
Islamiat = 87
Total_marks = 300
obtained_marks = English + Math + Islamiat
percentage = (obtained_marks/Total_marks)*100
print(percentage)

84.0

In [8]:
salary = int(input("Enter Your Salary: "))
YOS = int(input("Enter Your Year of Service: "))
if(YOS>5):
    bonus_amt = salary*0.05
    print(bonus_amt)
else:
    print("You are not Eligible for bonus")

Enter Your Salary:  45000
Enter Your Year of Service:  8

2250.0

In [9]:
age = int(input("enter age: "))
if(age>17):
    print("You Are Eligible for Voting")
else:
    print("You are not Eligible for Voting")

enter age:  15

You are not Eligible for Voting

In [10]:
number = int(input("Enter Number: "))
if (number%2==0):
    print("Number is Even")
else:
    print("Number is Odd")

Enter Number:  5

Number is Odd

In [ ]:
number = int(input("Enter the Number: "))
if (number%7==0):
    print("number is divisable by 7")
else:
    print("Error")

In [ ]:
message = int(input("Enter Your Number: "))
if(message%5==0):
    print("Hello!")
else:
    print("Bye!")

In [ ]:
number = int(input("Enter The Number: "))
last_digit = number % 10
print("The last digit is:", last_digit)

In [11]:
lenght = int(input("ENter Lenght: "))
breadht = int(input("ENter breadth: "))
if (lenght > breadht or lenght < breadht):
    print("Rectangle!")
elif (lenght == breadht):
    print("Square!")

ENter Lenght:  5
ENter breadth:  5

Square!

In [ ]:
num_1 = int(input("Enter number1: "))
num_2 = int(input("Enter number2: "))
if (num_1 > num_2):
    print("Number1 is Greatest")
elif(num_1 < num_2):
    print("Number2 is Greatest")

In [ ]:
Quantity = int(input("Enter Cost Price: "))
price = 100
total = Quantity * price
if (Quantity > 1000):
    discount = total * 0.1
    final_val = total - discount
    print(final_val)
else:
    print(total)

In [ ]:
number = int(input("Enter Your Number: "))
if (number >= 80):
    print("You Got A Grade")
if (number > 60 and number < 80):
    print("You Got B Grade")
if (number > 50 and number < 60):
    print("You Got C Grade")
if (number > 45 and number < 50):
    print("You Got D Grade")
if (number > 25 and number < 45):
    print("You Got E Grade")
elif(number <= 25):
    print("You Got F Grade")

In [12]:
classes = int(input("Enter number classes: "))
NOCA = int(input("Enter of classes attend : "))
percentage = int((NOCA/classes)*100)
print(percentage)
if (percentage >= 75):
    print("You can sit in Exam")
else:
    print("Not Eligible")

Enter number classes:  80
Enter of classes attend :  50

62
Not Eligible

In [ ]:
classes = int(input("Enter Classes: "))
med_test = bool(input("Enter Your Medical cause: "))
classes_attend = 75
if (classes > med_test):
    print("Eligible")
elif(classes and classes_attend == 75):
    print("you can sit")
else:
    print("Not Eligible")

In [ ]:
year = int(input("ENTER THE YEAR: "))
if year%4==0:
    print("It's a Leap Year")
elif (year%400==0, 2000, 1900, 2100):
    print("It's also a Leap Year")

In [15]:
age = int(input("Enter your age: "))
gender = input("Enter your gender(M/F): ").upper()
martial_status = input("Enter your martial status(Y/N): ").upper()

if gender == "F":
            print("She will work only in Urban Areas")
elif gender == "M":
    if 20 <= age <= 40:
        print ("He may work in Urban Areas")
    elif 40 < age <= 60:
        print ("He will only  work in Urban Areas")
    else:
        print ("Error")
else: 
     print ("Error")

Enter your age:  25
Enter your gender(M/F):  m
Enter your martial status(Y/N):  n

He may work in Urban Areas

In [16]:
##Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria : Unit Price
uptp 100 units no charge Next 200 units Rs 5 per unit After 200 units Rs 10 per unit (For example if input unit is 350 than total bill amount is Rs.3500 (For example if input unit is 97 
than total bill amount is Rs.0 (For example if input unit is 150 than total bill amount is Rs.750

SyntaxError: invalid syntax (452875933.py, line 2)

In [1]:
Take input of age of 3 people by user and determine oldest and youngest among them.

SyntaxError: invalid syntax (2243682693.py, line 1)

In [19]:
age1 = int(input("Enter age of first person: "))
age2 = int(input("Enter age of second person: "))
age3 = int(input("Enter age of third person: "))
oldest = max (age1, age2, age3)
youngest = min (age1, age2, age3)

print ("Youngest age is:", youngest)
print ("Oldest age is:", oldest)

Enter age of first person:  48
Enter age of second person:  50
Enter age of third person:  52

Youngest age is: 48
Oldest age is: 52